[package]
name = "avalanched-aws"
version = "0.0.8-pre"
edition = "2021"

[[bin]]
name = "avalanched-aws"
path = "src/main.rs"

[dependencies]
avalanche-api = { path = "../avalanche-api" }
avalancheup-aws = { path = "../avalancheup-aws" }
avalanche-types = { path = "../avalanche-types" }
avalanchego = { path = "../avalanchego" }
aws = { path = "../aws" }
aws-sdk-s3 = "0.11.0"
clap = { version = "3.1.15", features = ["cargo", "derive"] }
env_logger = "0.9.0"
log = "0.4.17"
tempfile = "3.3.0"
tokio = { version = "1.18.1", features = ["full"] }
utils = { path = "../utils" }
