[package]
name = "avalanched-aws"
version = "0.4.2-beta.3" # https://github.com/ava-labs/avalanche-ops/releases
edition = "2021"
rust-version = "1.68"

[[bin]]
name = "avalanched-aws"
path = "src/main.rs"

[dependencies]
avalanche-installer = "0.0.66" # https://crates.io/crates/avalanche-installer
avalanche-ops = { path = "../avalanche-ops" }
avalanche-telemetry-cloudwatch-installer = "0.0.87" # https://crates.io/crates/avalanche-telemetry-cloudwatch
avalanche-types = { version = "0.0.359", features = ["avalanchego", "cert", "jsonrpc_client", "subnet_evm"] } # https://crates.io/crates/avalanche-types
aws-ip-provisioner-installer = "0.0.67" # https://crates.io/crates/aws-ip-provisioner-installer
aws-manager = { version = "0.26.9", features = ["autoscaling", "cloudwatch", "ec2", "s3"] } # https://github.com/gyuho/aws-manager/tags
aws-sdk-cloudwatch = "0.26.0" # https://github.com/awslabs/aws-sdk-rust/releases
aws-sdk-ec2 = "0.26.0" # https://github.com/awslabs/aws-sdk-rust/releases
aws-sdk-s3 = "0.26.0" # https://github.com/awslabs/aws-sdk-rust/releases
aws-volume-provisioner-installer = "0.0.91" # https://crates.io/crates/aws-volume-provisioner-installer
clap = { version = "4.2.3", features = ["cargo", "derive"] } # https://github.com/clap-rs/clap/releases
command-manager = "0.0.1"
compress-manager = "0.0.7"
env_logger = "0.10.0"
log = "0.4.17"
prometheus-manager = "0.0.26"
random-manager = "0.0.5"
serde = { version = "1.0.160", features = ["derive"] }
tempfile = "3.5.0"
tokio = { version = "1.27.0", features = ["full"] } # https://github.com/tokio-rs/tokio/releases

# https://github.com/cross-rs/cross/wiki/Recipes#openssl
openssl = { version = "0.10", features = ["vendored"] }
