[package]
name = "avalanched-aws"
version = "0.2.19" # https://github.com/ava-labs/avalanche-ops/releases
edition = "2021"
rust-version = "1.65"

[[bin]]
name = "avalanched-aws"
path = "src/main.rs"

[dependencies]
avalanche-installer = "0.0.9" # https://crates.io/crates/avalanche-installer
avalanche-types = { version = "0.0.153", features = ["avalanchego", "client", "subnet_evm"] } # https://crates.io/crates/avalanche-types
avalancheup-aws = { path = "../../bin/avalancheup-aws" }
aws-manager = "0.21.11" # https://github.com/gyuho/aws-manager/tags
aws-sdk-cloudwatch = "0.21.0" # https://github.com/awslabs/aws-sdk-rust/releases
aws-sdk-ec2 = "0.21.0" # https://github.com/awslabs/aws-sdk-rust/releases
aws-sdk-s3 = "0.21.0" # https://github.com/awslabs/aws-sdk-rust/releases
certs-manager = { path = "../../certs-manager" }
clap = { version = "4.0.29", features = ["cargo", "derive"] } # https://github.com/clap-rs/clap/releases
command-manager = "0.0.1"
compress-manager = "0.0.2"
env_logger = "0.10.0"
lazy_static = "1.4.0"
log = "0.4.17"
random-manager = "0.0.1"
tempfile = "3.3.0"
tokio = { version = "1.23.0", features = ["full"] } # https://github.com/tokio-rs/tokio/releases

# https://github.com/cross-rs/cross/wiki/Recipes#openssl
openssl = { version = "0.10", features = ["vendored"] }
