[package]
name = "avalanched-aws"
version = "0.2.43" # https://github.com/ava-labs/avalanche-ops/releases
edition = "2021"
rust-version = "1.67"

[[bin]]
name = "avalanched-aws"
path = "src/main.rs"

[dependencies]
avalanche-config-installer = { path = "../../avalanche-config-installer" }
avalanche-installer = "0.0.29" # https://crates.io/crates/avalanche-installer
avalanche-telemetry-cloudwatch-installer = "0.0.52" # https://crates.io/crates/avalanche-telemetry-cloudwatch
avalanche-types = { version = "0.0.241", features = ["avalanchego", "jsonrpc_client", "subnet_evm"] } # https://crates.io/crates/avalanche-types
avalancheup-aws = { path = "../../bin/avalancheup-aws" }
aws-ip-provisioner-installer = "0.0.34" # https://crates.io/crates/aws-ip-provisioner-installer
aws-manager = { version = "0.24.6", features = ["autoscaling", "cloudwatch", "ec2", "s3"] } # https://github.com/gyuho/aws-manager/tags
aws-sdk-cloudwatch = "0.24.0" # https://github.com/awslabs/aws-sdk-rust/releases
aws-sdk-ec2 = "0.24.0" # https://github.com/awslabs/aws-sdk-rust/releases
aws-sdk-s3 = "0.24.0" # https://github.com/awslabs/aws-sdk-rust/releases
aws-volume-provisioner-installer = "0.0.58" # https://crates.io/crates/aws-volume-provisioner-installer
certs-manager = { path = "../../certs-manager" }
clap = { version = "4.1.4", features = ["cargo", "derive"] } # https://github.com/clap-rs/clap/releases
command-manager = "0.0.1"
compress-manager = "0.0.5"
env_logger = "0.10.0"
lazy_static = "1.4.0"
log = "0.4.17"
random-manager = "0.0.2"
tempfile = "3.3.0"
tokio = { version = "1.25.0", features = ["full"] } # https://github.com/tokio-rs/tokio/releases

# https://github.com/cross-rs/cross/wiki/Recipes#openssl
openssl = { version = "0.10", features = ["vendored"] }
