[package]
name = "avalanched-aws"
version = "0.2.8"
edition = "2021"
rust-version = "1.64"

[[bin]]
name = "avalanched-aws"
path = "src/main.rs"

[dependencies]
avalanche-installer = "0.0.7" # https://crates.io/crates/avalanche-installer
avalanche-sdk = { version = "0.66.0" } # https://crates.io/crates/avalanche-sdk
avalanche-types = { version = "0.0.66", features = ["avalanchego", "subnet_evm", "jsonrpc"] } # https://crates.io/crates/avalanche-types
avalancheup-aws = { path = "../../bin/avalancheup-aws" }
aws-manager = "0.19.1" # https://github.com/gyuho/aws-manager/tags
aws-sdk-cloudwatch = "0.19.0" # https://github.com/awslabs/aws-sdk-rust/releases
aws-sdk-ec2 = "0.19.0" # https://github.com/awslabs/aws-sdk-rust/releases
aws-sdk-s3 = "0.19.0" # https://github.com/awslabs/aws-sdk-rust/releases
certs-manager = { path = "../../certs-manager" }
clap = { version = "4.0.10", features = ["cargo", "derive"] } # https://github.com/clap-rs/clap/releases
command-manager = "0.0.1"
compress-manager = "0.0.2"
env_logger = "0.9.1"
lazy_static = "1.4.0"
log = "0.4.17"
random-manager = "0.0.1"
tempfile = "3.3.0"
tokio = { version = "1.21.2", features = ["full"] } # https://github.com/tokio-rs/tokio/releases
