[package]
name = "avalanched-aws"
version = "0.0.10-pre"
edition = "2021"
rust-version = "1.62"

[[bin]]
name = "avalanched-aws"
path = "src/main.rs"

[dependencies]
avalanche-sdk = { version = "0.0.12", features = ["cloudwatch"] } # https://crates.io/crates/avalanche-sdk
avalanche-types = { version = "0.0.19", features = ["jsonrpc", "metrics"] } # https://crates.io/crates/avalanche-types
avalanche-utils = { version = "0.0.8", features = ["full"] } # https://crates.io/crates/avalanche-utils
avalanchego = { path = "../../avalanchego" }
avalancheup-aws = { path = "../../bin/avalancheup-aws" }
aws-sdk-cloudwatch = "0.15.0"
aws-sdk-manager = "0.0.8"
aws-sdk-s3 = "0.15.0"
clap = { version = "3.2.8", features = ["cargo", "derive"] } # https://github.com/clap-rs/clap/releases
command-manager = "0.0.1"
compress-manager = "0.0.2"
env_logger = "0.9.0"
log = "0.4.17"
random-manager = "0.0.1"
tempfile = "3.3.0"
tokio = { version = "1.19.2", features = ["full"] }
