[package]
name = "avalanched-aws"
version = "0.1.6"
edition = "2021"
rust-version = "1.63"

[[bin]]
name = "avalanched-aws"
path = "src/main.rs"

[dependencies]
avalanche-installer = "0.0.4"
avalanche-sdk = { version = "0.0.22" } # https://crates.io/crates/avalanche-sdk
avalanche-types = { version = "0.0.29", features = ["jsonrpc"] } # https://crates.io/crates/avalanche-types
avalanchego = { path = "../../crates/avalanchego" }
avalancheup-aws = { path = "../../bin/avalancheup-aws" }
aws-manager = "0.0.16"
aws-sdk-cloudwatch = "0.18.0" # https://github.com/awslabs/aws-sdk-rust/releases
aws-sdk-ec2 = "0.18.0" # https://github.com/awslabs/aws-sdk-rust/releases
aws-sdk-s3 = "0.18.0" # https://github.com/awslabs/aws-sdk-rust/releases
clap = { version = "3.2.18", features = ["cargo", "derive"] } # https://github.com/clap-rs/clap/releases
command-manager = "0.0.1"
compress-manager = "0.0.2"
coreth = { path = "../../crates/coreth" }
env_logger = "0.9.0"
infra-aws = { path = "../../infra-aws" }
lazy_static = "1.4.0"
log = "0.4.17"
random-manager = "0.0.1"
subnet-evm = { path = "../../crates/subnet-evm" }
tempfile = "3.3.0"
tokio = { version = "1.20.1", features = ["full"] } # https://github.com/tokio-rs/tokio/releases
