[package]
name = "avalanched-aws"
version = "0.0.1"
edition = "2021"
rust-version = "1.62"

[[bin]]
name = "avalanched-aws"
path = "src/main.rs"

[dependencies]
avalanche-installer = "0.0.4"
avalanche-sdk = { version = "0.0.17", features = ["cloudwatch"] } # https://crates.io/crates/avalanche-sdk
avalanche-types = { version = "0.0.24", features = ["jsonrpc", "metrics"] } # https://crates.io/crates/avalanche-types
avalanchego = { path = "../../crates/avalanchego" }
avalancheup-aws = { path = "../../bin/avalancheup-aws" }
aws-manager = "0.0.11"
aws-sdk-cloudwatch = "0.16.0" # https://github.com/awslabs/aws-sdk-rust/releases
aws-sdk-ec2 = "0.16.0" # https://github.com/awslabs/aws-sdk-rust/releases
aws-sdk-s3 = "0.16.0" # https://github.com/awslabs/aws-sdk-rust/releases
clap = { version = "3.2.16", features = ["cargo", "derive"] } # https://github.com/clap-rs/clap/releases
command-manager = "0.0.1"
compress-manager = "0.0.2"
coreth = { path = "../../crates/coreth" }
env_logger = "0.9.0"
infra-aws = { path = "../../infra-aws" }
log = "0.4.17"
random-manager = "0.0.1"
tempfile = "3.3.0"
tokio = { version = "1.20.1", features = ["full"] } # https://github.com/tokio-rs/tokio/releases
