[package]
name = "avalancheup-aws"
version = "0.0.10"
edition = "2021"
rust-version = "1.62"

[[bin]]
name = "avalancheup-aws"
path = "src/main.rs"

[dependencies]
avalanche-sdk = { version = "0.0.17" } # https://crates.io/crates/avalanche-sdk
avalanche-types = { version = "0.0.24", features = ["jsonrpc", "metrics"] } # https://crates.io/crates/avalanche-types
avalanchego = { path = "../../crates/avalanchego" }
aws-manager = "0.0.11"
aws-sdk-cloudformation = "0.16.0" # https://github.com/awslabs/aws-sdk-rust/releases
aws-sdk-ec2 = "0.16.0" # https://github.com/awslabs/aws-sdk-rust/releases
aws-sdk-s3 = "0.16.0" # https://github.com/awslabs/aws-sdk-rust/releases
clap = { version = "3.2.16", features = ["cargo", "derive"] } # https://github.com/clap-rs/clap/releases
compress-manager = "0.0.2"
coreth = { path = "../../crates/coreth" }
crossterm = "0.24.0"
dialoguer = "0.10.2"
dir-manager = "0.0.1"
env_logger = "0.9.0"
id-manager = "0.0.1"
lazy_static = "1.4.0"
log = "0.4.17"
prefix-manager = "0.0.2"
random-manager = "0.0.1"
rust-embed = "6.4.0"
serde = { version = "1.0.140", features = ["derive"] }
serde_json = "1.0.82" # https://github.com/serde-rs/json/releases
serde_yaml = "0.9.2" # https://github.com/dtolnay/serde-yaml/releases
signal-hook = "0.3.14"
subnet-evm = { path = "../../crates/subnet-evm" }
tokio = { version = "1.20.1", features = ["full"] } # https://github.com/tokio-rs/tokio/releases

[dev-dependencies]
tempfile = "3.3.0"
