[package]
name = "avalancheup-aws"
version = "0.1.3"
edition = "2021"
rust-version = "1.63"

[[bin]]
name = "avalancheup-aws"
path = "src/main.rs"

[dependencies]
avalanche-sdk = { version = "0.0.21" } # https://crates.io/crates/avalanche-sdk
avalanche-types = { version = "0.0.27", features = ["jsonrpc", "metrics"] } # https://crates.io/crates/avalanche-types
avalanchego = { path = "../../crates/avalanchego" }
aws-manager = "0.0.14"
aws-sdk-cloudformation = "0.17.0" # https://github.com/awslabs/aws-sdk-rust/releases
aws-sdk-ec2 = "0.17.0" # https://github.com/awslabs/aws-sdk-rust/releases
aws-sdk-s3 = "0.17.0" # https://github.com/awslabs/aws-sdk-rust/releases
clap = { version = "3.2.17", features = ["cargo", "derive"] } # https://github.com/clap-rs/clap/releases
compress-manager = "0.0.2"
coreth = { path = "../../crates/coreth" }
crossterm = "0.25.0"
dialoguer = "0.10.2"
dir-manager = "0.0.1"
env_logger = "0.9.0"
id-manager = "0.0.1"
lazy_static = "1.4.0"
log = "0.4.17"
prefix-manager = "0.0.2"
random-manager = "0.0.1"
rust-embed = "6.4.0"
serde = { version = "1.0.143", features = ["derive"] }
serde_json = "1.0.83" # https://github.com/serde-rs/json/releases
serde_yaml = "0.9.9" # https://github.com/dtolnay/serde-yaml/releases
signal-hook = "0.3.14"
subnet-evm = { path = "../../crates/subnet-evm" }
tokio = { version = "1.20.1", features = ["full"] } # https://github.com/tokio-rs/tokio/releases

[dev-dependencies]
tempfile = "3.3.0"
