[package]
name = "avalancheup-aws"
version = "0.0.10-pre"
edition = "2021"
rust-version = "1.62"

[[bin]]
name = "avalancheup-aws"
path = "src/main.rs"

[dependencies]
avalanche-sdk = { version = "0.0.10" }
avalanche-types = { version = "0.0.17", features = ["jsonrpc", "metrics"] }
avalanche-utils = { version = "0.0.6", features = ["full"] }
avalanchego = { path = "../../avalanchego" }
aws-sdk-cloudformation = "0.15.0"
aws-sdk-manager = "0.0.6"
aws-sdk-s3 = "0.15.0"
clap = { version = "3.2.8", features = ["cargo", "derive"] } # https://github.com/clap-rs/clap/releases
coreth = { path = "../../coreth" }
crossterm = "0.23.2"
dialoguer = "0.10.1"
env_logger = "0.9.0"
lazy_static = "1.4.0"
log = "0.4.17"
rust-embed = "6.4.0"
serde = { version = "1.0.138", features = ["derive"] }
serde_json = "1.0.82"
serde_yaml = "0.8.24"
signal-hook = "0.3.14"
subnet-evm = { path = "../../subnet-evm" }
tokio = { version = "1.19.2", features = ["full"] }

[dev-dependencies]
tempfile = "3.3.0"
